body{
    background-image: url("imagenes/webBackground.jpg");
    background-size: cover;
    background-repeat: none;
}

p{
    font-size: 2.5vmin;
}

img{
    max-width:100%;
    max-height:100%;
    object-fit: contain;

    display:flex;
    justify-self:center;
}

.nonInitialContent{
    display: none;
}
.banner{

    display: flex;
    flex-direction: row;
    height: 10vmin;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.banner img
{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.tabs
{
    position: sticky;
    top: 0;
    display: flex;

    height: 7vmin;
    width: 100%;
    max-width: 170vmin;

    justify-self:center;
    justify-content: center;
    align-items: center;

    background-color: grey;

    border: 0.5vmin, solid, black;
}

.tabs button{
    transition: transform 0.3s ease;
    display:flex;
    justify-content:center;
    align-items:center;

    flex-grow: 1;
    height:100%;

    border: none;
    background-color: transparent;

    font-size: 3.5vmin;
    font-weight: bold;
    white-space: nowrap;
}

.tabs button:not(:disabled):hover{
    transform: translateY(-0.7vmin);
}

.redesL{
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: top;
    justify-self: center;
    align-items: end;
    margin-right: 1.5vmin;
}
.redesR{
    width: 25vmin;
    height: 25vmin;

    display: flex;
    flex-direction: column;
    justify-content: top;
    justify-self: center;
    align-items: start;
    margin-left: 1.5vmin;
}
.redesR a button{
    transition: transform 0.3s ease;
}
.redesL a button{
    transition: transform 0.3s ease;
}
.redesR a button:hover{
    
    transform: rotate(10deg) translateY(-0.5vmin);
}

.redesL a button:hover{
    transform: rotate(10deg) translateY(-0.5vmin);
}

.Instagram
{
    border:none;
    background-image: url("imagenes/instagram.png");
    background-size: contain;
    width: 15vmin;
    height: 15vmin;
    border-radius: 100%;
    margin-top: 0.5vmin;
}

.Tiktok{
    border:none;
    background-image: url("imagenes/tiktok.png");
    background-size: contain;
    width: 15vmin;
    height: 15vmin;
    border-radius: 100%;
    margin-top: 0.5vmin;
}

.Github{
    border:none;
    background-image: url("imagenes/github.png");
    background-size: cover;
    width: 15vmin;
    height: 15vmin;
    border-radius: 100%;
    margin-top: 0.5vmin;
}

.Youtube{
    border:none;
    background-image: url("imagenes/youtube.png");
    background-size: contain;
    width: 15vmin;
    height: 15vmin;
    border-radius: 100%;
    margin-top: 0.5vmin;
}

.Twitter{
    border:none;
    background-image: url("imagenes/twitter.png");
    background-size: cover;
    background-position: center;
    width: 15vmin;
    height: 15vmin;
    border-radius: 100%;
    margin-top: 0.5vmin;
}

.XhurrogamesContent {
    margin-top: 1vmin;
    width: 50%;
    height: 75vh;
    
    display: flex;
    justify-self: flex-start;
    flex-direction: column;

    margin-right:1vmin;
}

.XhurrogamesVideo{
    margin-top: 5vmin;
    width: 50%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.XhurrogamesVideo div
{
    width: 100%;
    height: 37.5vh;
}
.grupo{
    display: flex;
    align-items:center;

    border: 0.5vmin, solid, black;
    padding-top: 1vmin;
    padding-bottom: 1vmin;

    width: 30vmin;
    height: 10vmin;
}

fieldset
{
    display: flex;
    align-items:center;

    border: 0.5vmin, solid, black;
    width: 30vmin;
    height: 25vmin;
}

fieldset p{
    position:relative;
    top:-4vmin;
}
legend{
    position:relative;
    top: 4vmin;
}
.div2R{
    width: 100%;
    height: 100%;
    max-width: 170vmin;

    display:flex;
    flex-direction: row;
    justify-self:center;
    align-items: center;
}
.div2RDown
{
    width: 100%;
    height: 100%;
    
    display:flex;
    flex-direction: row;
    justify-self:center;
    align-items: end;
}

.desvio{
    width: 50%;
    max-width:85vmin;
    margin-top: 5vmin;
    object-fit:contain;
}